.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0 80px;
  background-color: #f5f6f7;
}

.not-found__image {
  width: 82.5px;
  height: 82.5px;
}

.not-found__title {
  font-family: "Roboto Slab", Arial;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 31.5px 0 16px;
}

.not-found__text {
  font-family: "Roboto", Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding: 48px 0;
  }

  .not-found__title {
    font-size: 22px;
    line-height: 24px;
    margin: 31.5px 0 16px;
  }

  .not-found__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .not-found {
    padding: 48px 16px;
  }
}
