.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.not-found__image {
  width: 83px;
  height: 83px;
  border: none;
  margin-bottom: 32px;
  margin-top: 86px;
}

.not-found__title {
  font-family: "Roboto Slab", Arial;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  color: #1a1b22;
  text-align: center;
  margin: 0 0 16px;
}

.not-found__text {
  font-family: "Roboto", Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #b6bcbf;
  margin-bottom: 80px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found {
    max-width: 320px;
    margin: 32px 0 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .not-found {
    max-width: 768px;
    margin: 40px 0 0 0;
  }
}
