.about {
  max-width: 1440px;
  display: flex;
  margin: 80px 0 0 0;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 400px;
  margin: 0 0 80px 104px;
}

.about__container {
  width: 600px;
  margin: 50px 0 0 56px;
  font-weight: 400;
  color: #1a1b22;
}

.about__title {
  font-family: "Roboto Slab", Arial;
  font-size: 30px;
  font-weight: 400;
  line-height: 40;
  margin: 0 0 24;
}

.about__info {
  font-family: "Roboto", Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 597px) {
  .about {
    height: 752px;
    flex-direction: column;
    margin: 32px 16px 0 16px;
  }
  .about__image {
    width: 272px;
    height: 272px;
    margin: 0 8px 0 8px;
  }
  .about__container {
    width: 288px;
    height: 240px;
    margin: 24px 0 128px 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (min-width: 680px) and (max-width: 767px) {
  .about {
    justify-content: center;
  }

  .about__image {
    max-width: 250px;
    height: 250px;
    margin: 61px 0 61px 40px;
  }

  .about__container {
    margin: 40px 40px 0 32px;
  }

  .about__title {
    font-size: 30px;
    width: 315px;
    margin: 0 0 16px;
  }

  .about__info {
    width: 315px;
  }
}
@media screen and (min-width: 580px) and (max-width: 679px) {
  .about {
    justify-content: center;
  }

  .about__image {
    max-width: 215px;
    height: 215px;
    margin: 61px 0 61px 40px;
  }

  .about__container {
    margin: 40px 40px 0 32px;
  }

  .about__title {
    font-size: 30px;
    width: 250px;
    margin: 0 0 16px;
  }

  .about__info {
    width: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about {
    justify-content: center;
  }

  .about__image {
    max-width: 232px;
    height: 232px;
    margin: 61px 0 61px 40px;
  }
  .about__container {
    margin: 40px 40px 0 32px;
  }

  .about__title {
    font-size: 30px;
    width: 424px;
    margin: 0 0 16px;
  }

  .about__info {
    width: 424px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .about {
    max-width: 768px;
    margin: 40px 0 0 0;
  }
  .about__image {
    width: 232px;
    height: 232px;
    margin: 21px 0 61px 40px;
  }
  .about__container {
    width: 424px;
    margin: 0 0 0 32px;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
}
