.footer {
  max-width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 32px 0 26px 106px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375em;
  color: #b6bcbf;
}

.footer__right {
  margin: 30px 66px 26px 0;
  display: flex;
  align-items: center;
}

.footer__link {
  margin: 0 40px 0 0;
}

.footer__button {
  border: none;
  background-color: #fff;
  padding: 0;
  height: fit-content;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33em;
  color: #1a1b22;
}

.footer__text:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer__github {
  width: 24px;
  height: 24px;
}

.footer__github:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer__linkedIn {
  width: 24px;
  height: auto;
}

.footer__linkedIn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 579px) {
  .footer {
    max-width: 320px;
    height: 176px;
    flex-direction: column-reverse;
  }
  .footer__copyright {
    width: 288px;
    /* margin: 32px 16px 22px 16px; */
    margin-left: 16px;
  }
  .footer__right {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 9px;
    justify-content: space-between;
  }
  .footer__links {
    height: 74px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__link {
    margin: 0;
  }
  .footer__icons {
    height: 74px;
    padding: 0;
    margin: 0;
  }
  .footer__linkedIn {
    padding: 0;
    margin-left: 14px;
    margin-right: 16px;
    justify-self: center;
  }
  .footer__github {
    padding: 0;
  }
}
@media screen and (min-width: 580px) and (max-width: 679px) {
  .footer__copyright {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__right {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__button {
    margin-right: 10px;
  }

  .footer__text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer__linkedIn {
    margin-left: 10px;
    margin-right: 6px;
  }

  .footer__github {
    margin-left: 6px;
  }
}
@media screen and (min-width: 680px) and (max-width: 767px) {
  .footer__copyright {
    margin-left: 16px;
  }

  .footer__right {
    margin-right: 16px;
  }

  .footer__button {
    margin-right: 20px;
  }

  .footer__text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__linkedIn {
    margin-left: 20px;
    margin-right: 12px;
  }

  .footer__github {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__copyright {
    margin-left: 40px;
  }
  .footer__right {
    margin-left: 40px;
  }
  .footer__button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer__linkedIn {
    margin-left: 12px;
    margin-right: 12px;
  }
  .footer__github {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .footer {
    max-width: 768px;
    height: 64px;
  }
  .footer__copyright {
    width: 300px;
    height: 22px;
    margin: 24px 0 24px 40px;
  }
  .footer__right {
    margin: 21px 40px 22px 0;
  }
}
