.search {
  max-width: 1440px;
  height: 576px;
  display: flex;
  flex-direction: column;
}

.search__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  width: 608px;
  line-height: 1.0666em;
  margin: 80px auto 0 auto;
}

.search__info {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33em;
  font-weight: 400;
  color: #fff;
  margin: 32px auto 0 auto;
  width: 608px;
}
